.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f8f8;
}

.header .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header .heading h4 {
  color: #00244d;
  margin: 0 !important;
}

.header .heading span#trail {
  color: #00244d;
}

.header .social-proof {
  display: flex;
  gap: 8px;
}

.header .social-proof .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header .buttons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.header .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ecf9;
}
