* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(342.45deg, #97e0f3 -32.65%, #ffffff 85.43%);
  overflow-x: hidden;
}
