@font-face {
  font-family: 'SegoeUI';
  src: url('./../assets/fonts/Normal-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('./../assets/fonts/Normal-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
